/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

$navbar-bg: #181818;
$navbar-fg: white;
$navbar-hl: #75AADB;

$sidebar-bg: #181818;
$sidebar-fg: white;
$sidebar-hl: #75AADB;

$footer-bg: #181818;
$footer-fg: white;
