/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: #f1f1f1; // white;
$link-color: #75AADB;

// Code blocks
$code-block-bg-alpha: -.8;

$navbar-bg: #181818;
$navbar-fg: #f1f1f1;
$navbar-hl: #75AADB;

$sidebar-bg: #181818;
$sidebar-fg: #f1f1f1;
$sidebar-hl: #75AADB;

$footer-bg: #181818;
$footer-fg: #f1f1f1;

$nav-link-font-size: 0.875rem !default;
$navbar-brand-font-size: 0.875rem !default;
$navbar-toggler-font-size: 0.875rem !default;